.section-feature {
  padding: 20rem 0px;
  text-align: center;
  transition: all 0.3s;
  background-image: linear-gradient(to right bottom, $LightGreen, $DarkGreen),
    url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
  margin-top: -10rem;
  .feature-row {
    transform: skewY(7deg);
    max-width: 114rem;
    .feature-box {
      // border: 3px solid rgba($black, 0.2);
      background-color: rgba($white, 0.8);
      box-shadow: 0 1.5rem 4rem rgba($black, 1.5);
      border-radius: 3px;
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      .feature-icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $LightGreen, $DarkGreen);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}
